@import 'global-variables.scss';

.app {
  text-align: center;
  background: url(../assets/background.jpeg) center 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: scroll;
  .app-container {
    padding-bottom: 30px;
  }
}