/* FONTS - START --
font-family: 'Raleway', sans-serif;
font-family: 'Titillium Web', sans-serif;
-- FONTS - END */
/* [START] Global variables declaration */
$balance-header-height: 40px;
$background-color-one: rgba(50, 50, 65, 0.8);
$violet-one: rgba(102, 51, 153, 1);
$violet-one-transparent: rgba(102, 51, 153, 0.8);
/* [END] Global variables declaration */