@import 'global-variables.scss';

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
  .modal_container {
    width: 40%;
    padding: 20px;
    margin: auto;
    background-color: white;
    border-radius: 60px 20px 60px 20px;
    margin-top: 20vh;
    margin-bottom: 20vh;
    text-transform: uppercase;
    h2, .body {
      width: 80%;
      margin: auto;
    }
    h2 {
      border-bottom: 1px solid grey;
      padding-top: 12px;
      padding-bottom: 10px;
      font-family: 'Raleway', sans-serif;
    }
    .body {
      text-align: left;
      padding-bottom: 20px;
      padding-top: 20px;
      p {
        margin: 0;
        font-size: 15px;
      }
      .value {
        background-color: rgba(210, 210, 210, 0.3);
        padding: 8px;
        border-radius: 10px;
        margin-bottom: 14px;
        font-size: 13px;
      }
      .caption {
        margin-bottom: 5px;
        font-family: 'Titillium Web', sans-serif;
      }
      .detalle {
        color: #b9b9b9;
        margin-bottom: 19px;
      }
      .notice {
        color: #b9b9b9;
        font-size: 12px;
        padding-top: 12px;
      }
    }
  }
}