.app {
  text-align: center;
  background: url(../assets/background.jpeg) center 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: scroll;
  .app-container {
    padding-top: calc(#{$balance-header-height} + 20px);
    padding-bottom: 30px;
  }
}

/* [START] Mobile adaptation */
@media (max-width: 768px) {
  .app {
    .app-container {
      padding-top: calc(#{$balance-header-height-mobile} + 20px);
    }
  }
}
/* [END] Mobile adaptation */