.balance_header {
  text-align: left;
  position: fixed;
  width: 100%;
  height: $balance-header-height;
  padding-top: 20px;
  padding-left: 20px;
  background-color: rgba(45, 45, 45, 0.55);
  box-shadow: inset 0px -20px 100px -27px;
  z-index: 20;
  .currency_container {
    display: inline;
  }
  .container {
    display: inline;
    padding: 10px;
    margin-left: 5px;
    &:first-child {
      margin-left: 0;
    }
    .currency, .amount {
      border-radius: 10px;
      padding: 6px 10px 6px 10px;
      box-shadow: inset 0px 0px 10px -3px black;
    }
    .currency {
      color: white;
      background-color: $violet-one;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    .amount {
      background-color: white;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .info {
    color: white;
    max-width: 30%;
    padding: 8px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    text-transform: uppercase;
    &:hover {
      box-shadow: inset 0px -8px 35px -20px white;
    }
  }
}


/* [START] Mobile adaptation */
@media (max-width: 768px) {
  .balance_header {
    height: $balance-header-height-mobile;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .info {
      max-width: 24%;
      display: inline-flex;
      align-items: center;
      padding: 0;
      padding-bottom: 15px;
    }
    .currency_container {
      width: fit-content;
      width: -moz-fit-content;
      width: -webkit-fit-content;
      padding-right: 8vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
/* [END] Mobile adaptation */
